@import "../../../stylesheets/colors";
@import "../../../stylesheets/mixins";

.banner {
  display: flex;
  align-items: center;
  justify-content: center;

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 511px;
    height: 511px;
    background-image: url("../../../images/banner/bg.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 1920px;

    @include tablet {
      min-height: 450px;
      height: 450px;
    }
  }

  &__inner {
    display: flex;
    width: 100%;
    max-width: 1180px;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    align-items: center;
    flex: 1;

    @include tablet {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0 15px;
      gap: 20px;
    }


    img {
      max-width: 100%;
      height: auto;
      object-fit: contain;

      @include tablet {
        max-width: 300px;
      }

    }
  }

  &__indicator-container {
    position: absolute;
    bottom: 20px;

    @include tablet {
      bottom: 15px;
    }
  }

  &__text {
    font-family: Roboto-Mediun, serif;

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include tablet {
        align-items: center;
        padding: 20px;
      }

      @include mobile {
        align-items: center;
        padding: 10px;
        width: 100%;
      }
    }

    &__title {
      text-transform: uppercase;
      font-size: 44px;
      margin-bottom: 20px;

      @include tablet {
        font-size: 32px;
        margin-bottom: 15px;
      }

      @include mobile {
        font-size: 24px;
        margin-bottom: 10px;
      }
    }

    &__subtitle {
      max-width: 440px;
      line-height: 150%;

      @include tablet {
        max-width: 100%;
        font-size: 14px;
      }

      @include mobile {
        font-size: 12px;
        line-height: 140%;
      }
    }
  }
}