@import "../../../stylesheets/colors";
@import "../../../stylesheets/mixins";

.banner {
  display: flex;
  align-items: center;
  justify-content: center;

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 511px;
    background-image: url("../../../images/banner/bg.png");
    width: 300%;
    max-width: 1920px;
    //overflow: hidden;
  }

  &__inner {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 1180px;
    overflow: hidden;

    &__container {
      display: flex;
      justify-content: flex-start;
      transition: margin-left 600ms cubic-bezier(0.45, 0.19, 0.43, 1.01);
    }
  }

  &__item {
    display: flex;
    width: 1200px;
    max-width: 1180px;
    justify-content: space-between;
  }

  &__indicator-container {
    position: absolute;
    bottom: 0;
  }

  &__text {
    font-family: Roboto-Mediun, serif;

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__title {
      text-transform: uppercase;
      font-size: 44px;
      margin-bottom: 20px;
    }

    &__subtitle {
      max-width: 440px;
      line-height: 150%;
    }
  }
}
