@import "../../../stylesheets/colors";
@import "../../../stylesheets/mixins";

.banner {
  display: flex;
  align-items: center;
  justify-content: center;

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 511px;
    background-image: url("../../../images/banner/bg.png");
    width: 100%;
    max-width: 1920px;
  }

  &__inner {
    display: flex;
    width: 100%;
    max-width: 1180px;
    justify-content: space-between;

    @include media(768px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__indicator-container {
    position: absolute;
    bottom: 0;
  }

  &__text {
    font-family: Roboto-Mediun, serif;

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include media(768px) {
        align-items: center;
        padding: 20px;
      }
    }

    &__title {
      text-transform: uppercase;
      font-size: 44px;
      margin-bottom: 20px;

      @include media(768px) {
        font-size: 32px;
      }
    }

    &__subtitle {
      max-width: 440px;
      line-height: 150%;
    }
  }
}