@import "../../../stylesheets/colors";
@import "../../../stylesheets/mixins";

.rating {
  &__star {
    &:hover {
      cursor: pointer;
    }

    &:not(:last-child) {
      margin-right: 10px;

      @include mobile {
        margin-right: 6px;
      }
    }

    svg {
      width: 20px;
      height: 20px;

      @include tablet {
        width: 18px;
        height: 18px;
      }

      @include mobile {
        width: 16px;
        height: 16px;
      }
    }

    &.enable {
      path {
        fill: $normal;
      }
    }

    &.disable {
      path {
        fill: $gray;
      }
    }
  }

  &__inner {
    display: flex;
  }
}