@import "../../../stylesheets/mixins";
@import "../../../stylesheets/colors";

.navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  text-transform: uppercase;
  font-family: Roboto-Mediun, serif;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1180px;
  }

  &__dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 19px 0 15px;
    height: 100%;
    background: $normal;
    width: 280px;
    color: $bg1;
    @include hover;


    & svg {
      path {
        fill: $bg1;
      }
    }
  }

  &__buttons-container {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__button {
    display: flex;
    align-items: center;
    padding: 0 20px;
    white-space: nowrap;
    height: 100%;
    @include hover;
  }

  &__search {
    padding: 10px;
    border-radius: 50%;
    @include hover;
  }
}