@import "../../../stylesheets/colors";
@import "../../../stylesheets/mixins";

.indicator {
  display: flex;
  align-items: center;
  height: 96px;

  @include tablet {
    height: 80px;
  }

  @include mobile {
    height: 60px;
  }

  &__inner {
    display: flex;
  }

  &__item {
    @include size(16px);
    @include hover();
    border-radius: 50%;
    background: $gray;

    @include tablet {
      @include size(14px);
    }

    @include mobile {
      @include size(12px);
    }

    &:not(:last-child) {
      margin-right: 24px;

      @include tablet {
        margin-right: 20px;
      }

      @include mobile {
        margin-right: 16px;
      }
    }

    &__active {
      background: $normal;
    }
  }
}