$hover: #FAC25A;
$normal: #F6A207;
$active: #C98506;
$inactive: #E3E3E3;
$blue: #009DD9;
$green: #1ABF5D;
$gray: #C2C3C7;

$bg0: #F6F6F7;
$bg1: #FEFEFE;
$bg2: #E3E3E3;
$bg3: #909399;
$bg4: #4C4F55;
$bg5: #36393F;
