@import "../../../stylesheets/colors";

.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding: 0 12px;
  list-style-type: none;
  margin-top: 398px;
  background-color: white;
  color: $bg5;
  font-family: Roboto-Regular, serif;
  width: 260px;

  & > li {
    margin: 0;
    padding: 8px 0;

    &:not(:last-child) {
      border-bottom: 1px solid #E3E3E3;
    }

    & > button {
      width: 100%;
      height: 100%;
      text-align: left;

      background: none;
      border: none;
      padding: 5px;
      margin: 0;
      &:hover {
        color: $normal;
        cursor: pointer;
      }
    }
  }
}