@import "../../../stylesheets/colors";
@import "../../../stylesheets/mixins";

.product-card {
  background: $bg1;
  padding: 20px;
  min-width: 200px;
  height: 360px;
  position: relative;
  overflow: hidden;
  transition: height 1250ms;
  scroll-snap-align: start;
  box-sizing: border-box;

  @include tablet {
    min-width: 200px;
    height: 396px;
  }

  @include mobile {
    height: auto;
    min-height: 340px;
    padding: 12px;
    overflow: visible;
  }

  @include desktop {
    &:hover {
      cursor: pointer;
      transition: height 250ms;
      height: 446px;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 330px;
    margin-bottom: 20px;

    @include tablet {
      height: 310px;
      margin-bottom: 18px;
    }

    @include mobile {
      height: auto;
      min-height: 250px;
      margin-bottom: 15px;
      flex: 1;
    }
  }

  &__img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    img {
      max-width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &__title,
  &__price {
    width: 100%;
    font-family: Roboto-Mediun, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;

    @include tablet {
      font-size: 14px;
    }

    @include mobile {
      font-size: 12px;
    }
  }

  &__description {
    color: $bg4;
    font-size: 14px;
    line-height: 150%;
    width: 100%;

    @include tablet {
      font-size: 12px;
    }

    @include mobile {
      font-size: 11px;
      line-height: 140%;
    }
  }

  &__price {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: 0 auto;

    @include tablet {
      font-size: 18px;
    }

    @include mobile {
      font-size: 16px;
    }

    &__old {
      text-decoration: line-through;
      color: $bg3;
      font-size: 16px;

      @include tablet {
        font-size: 14px;
      }

      @include mobile {
        font-size: 12px;
      }
    }
  }

  &__button {
    @include centered;
    width: 140px;
    height: 32px;
    bottom: 10px;
    background: $normal;
    border-radius: 4px;
    color: $bg1;
    @include hover;
    font-size: 14px;

    @include tablet {
      width: 120px;
      height: 30px;
      font-size: 12px;
    }

    @include mobile {
      width: 100%;
      max-width: 180px;
      height: 32px;
      font-size: 12px;
      position: relative;
      bottom: auto;
    }

    &__container {
      width: 100%;
      display: flex;
      justify-content: center;

      @include mobile {
        margin-top: 10px;
        position: relative;
      }
    }
  }
}