@import "src/stylesheets/_colors.scss";
@import "src/stylesheets/mixins.scss";

a {
    text-decoration: none;
    color: black;
}

body{
    background: #E8E8E8;
    color: $bg5;
}

.App {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}