@import "../../../stylesheets/colors";
@import "../../../stylesheets/mixins";

.review-card {
  max-width: 380px;
  width: 100%;
  transition: scale 1s;

  @include tablet {
    max-width: 350px;
  }

  @include mobile {
    max-width: 100%;
  }

  @include desktop {
    &:hover {
      transition: scale 125ms;
      scale: 1.05;
      cursor: pointer;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    position: relative;
    background-color: $bg5;
    height: 90px;

    @include mobile {
      height: 80px;
    }
  }

  &__photo {
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(black, $bg4);
    top: -45px;
    left: 20px;
    @include size(115px);
    overflow: hidden;

    @include tablet {
      @include size(100px);
      top: -40px;
      left: 15px;
    }

    @include mobile {
      @include size(90px);
      top: -35px;
      left: 15px;
    }

    img {
      @include size(100%);
      object-fit: cover;
    }
  }

  &__info {
    color: $bg0;
    padding-left: 155px;

    @include tablet {
      padding-left: 130px;
    }

    @include mobile {
      padding-left: 120px;
    }

    &__name {
      font-family: Roboto-Mediun, serif;
      font-size: 16px;
      line-height: 150%;

      @include tablet {
        font-size: 14px;
      }

      @include mobile {
        font-size: 12px;
      }
    }

    &__position {
      font-size: 14px;
      line-height: 120%;

      @include tablet {
        font-size: 12px;
      }

      @include mobile {
        font-size: 11px;
      }
    }
  }

  &__bottom {
    min-height: 232px;
    background: $bg1;
    font-size: 14px;
    line-height: 150%;
    padding: 20px;

    @include tablet {
      min-height: 200px;
      font-size: 13px;
      padding: 15px;
    }

    @include mobile {
      min-height: 180px;
      font-size: 12px;
      padding: 15px;
      line-height: 140%;
    }
  }
}