@import "../../../stylesheets/colors";
@import "../../../stylesheets/mixins";

.reviews {
  display: flex;
  align-items: center;
  justify-content: center;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 670px;
    background-image: url("../../../images/reviews/bg.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 1920px;

    @include tablet {
      height: auto;
      min-height: 500px;
      padding: 40px 0;
    }

    @include mobile {
      min-height: 400px;
      padding: 30px 0;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1180px;
    flex-direction: column;
    padding: 0 20px;
    box-sizing: border-box;

    @include tablet {
      padding: 0 15px;
    }

    @include mobile {
      padding: 0 10px;
    }
  }

  &__cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @include tablet {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }

    @include mobile {
      gap: 20px;
    }
  }

  &__title {
    font-family: Roboto-Mediun, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 120%;
    text-transform: uppercase;
    margin: 40px 0 117px 0;
    text-align: center;

    @include tablet {
      font-size: 32px;
      margin: 30px 0 50px 0;
    }

    @include mobile {
      font-size: 24px;
      margin: 20px 0 30px 0;
    }
  }
}