@import "../../../stylesheets/colors";
@import "../../../stylesheets/mixins";

.footer{
  display: flex;
  justify-content: center;
  background: $bg5;

  &__inner {
    padding: 40px;
    display: flex;
    width: 100%;
    max-width: 1180px;
    justify-content: space-between;

  }

  &__links {
    &__container {
      display: flex;
      flex-direction: column;
    }

    &__title {
      text-transform: uppercase;
      font-family: Roboto-Mediun, serif;
      color: $bg1;
      font-size: 20px;
      line-height: 120%;
      margin-bottom: 24px;

    }

    &__item {
      color: $gray;
      font-size: 16px;
      line-height: 150%;

      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }
  &__social{
    &__container{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }
  &__icons{
    &__container{
      display: flex;
      justify-content: space-between;
      width: 258px;
      margin-top: 44px;
    }
  }
}