@import "../../../stylesheets/colors";
@import "../../../stylesheets/mixins";

.footer {
  display: flex;
  justify-content: center;
  background: $bg5;

  &__inner {
    padding: 40px;
    display: flex;
    width: 100%;
    max-width: 1180px;
    justify-content: space-between;
    box-sizing: border-box;

    @include tablet {
      flex-direction: column;
      align-items: center;
      padding: 30px 20px;
      gap: 30px;
    }

    @include mobile {
      padding: 25px 15px;
      gap: 25px;
    }
  }

  &__links {
    &__container {
      display: flex;
      flex-direction: column;

      @include tablet {
        align-items: center;
        text-align: center;
      }
    }

    &__title {
      text-transform: uppercase;
      font-family: Roboto-Mediun, serif;
      color: $bg1;
      font-size: 20px;
      line-height: 120%;
      margin-bottom: 24px;

      @include tablet {
        font-size: 18px;
        margin-bottom: 20px;
      }

      @include mobile {
        font-size: 16px;
        margin-bottom: 15px;
      }
    }

    &__item {
      color: $gray;
      font-size: 16px;
      line-height: 150%;

      @include tablet {
        font-size: 14px;
      }

      @include mobile {
        font-size: 12px;
      }

      &:not(:last-child) {
        margin-bottom: 12px;

        @include mobile {
          margin-bottom: 10px;
        }
      }
    }
  }

  &__social {
    &__container {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;

      @include tablet {
        align-items: center;
        justify-content: center;
      }
    }
  }

  &__icons {
    &__container {
      display: flex;
      justify-content: space-between;
      width: 258px;
      margin-top: 44px;

      @include tablet {
        width: 220px;
        margin-top: 30px;
      }

      @include mobile {
        width: 200px;
        margin-top: 20px;
        gap: 15px;

        svg {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}