@import "../../../stylesheets/colors";
@import "../../../stylesheets/mixins";

.main-page {
  display: flex;
  justify-content: center;
  margin: 70px 0;

  @include tablet {
    margin: 50px 0;
  }

  @include mobile {
    margin: 30px 0;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    max-width: 1180px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;

    @include tablet {
      padding: 0 15px;
    }

    @include mobile {
      padding: 0 10px;
    }
  }

  &__indicator {
    &__container {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 20px;

      @include mobile {
        margin-top: 15px;
      }
    }
  }

  &__title {
    font-size: 38px;
    line-height: 120%;
    margin-bottom: 14px;

    @include tablet {
      font-size: 32px;
      margin-bottom: 12px;
    }

    @include mobile {
      font-size: 24px;
      margin-bottom: 10px;
    }
  }

  &__card {
    margin-bottom: 60px;

    @include tablet {
      margin-bottom: 40px;
    }

    @include mobile {
      margin-bottom: 30px;
    }

    &__container {
      display: flex;
    }

    &__inner {
      display: flex;
      height: 452px;
      overflow-x: auto;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
      scroll-snap-type: x mandatory;
      gap: 20px;

      @include tablet {
        height: 400px;
        gap: 15px;
      }

      @include mobile {
        height: 350px;
        gap: 10px;
      }

      &::-webkit-scrollbar {
        height: 4px;
      }

      &::-webkit-scrollbar-track {
        background: $bg2;
      }

      &::-webkit-scrollbar-thumb {
        background: $normal;
        border-radius: 2px;
      }
    }
  }
}