.main-page {
  display: flex;
  justify-content: center;
  margin: 70px 0;

  &__inner {
    display: flex;
    flex-direction: column;
    max-width: 1180px;

  }

  &__indicator {
    &__container {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }

  &__title {
    font-size: 38px;
    line-height: 120%;
    margin-bottom: 14px;
  }

  &__card {
    &__container {
      display: flex;
    }

    &__inner {
      display: flex;
      height: 452px;
    }
  }
}